<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Music List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="p-5 mb-0 text-center bg-dark text-danger">
        <h1 class="mb-3">Music List</h1>
        <div th:replace="layout"></div>
    </div>
    <div class="container">
        <div class="row-6" th:each="music : ${musics}">
            <div class="card-body border-bottom">
                <h4 class="card-title text-warning" th:text="${music.title}"></h4>
                <h5 class="card-text text-white" th:text="${music.artist}"></h5>
                <a th:href="|/music/${music.id}|" class="btn btn-primary">Play</a>
                
                <!-- 모달을 실행할 버튼 -->
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add to PlayList
                </button>
            
                <!-- 모달 -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Play List</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div th:each="playlist : ${playlists}">
                                <button th:text="${playlist}"></button>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>