<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body class="bg-dark">
    <div class="p-5 mb-0 text-center bg-dark text-danger">
        <h1 class="mb-3">Music</h1> 
        <div th:replace="layout"></div>
    </div>
    <div class="p-5 mb-5 text-center bg-dark text-warning">
        <h3>Title : <span th:text="${music.title}"></span></h3>
        <h4 style="margin-bottom: 50px;">Artist : <span th:text="${music.artist}"></span></h4>
        <audio autoplay th:id="|music${music.id}|" controls="">
            <source th:src="|/music${music.id}.mp3|">
        </audio>
    </div>
</body>
</html>