<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Music Request List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body class="bg-dark">
<div class="p-5 mb-0 text-center bg-dark text-danger">
    <h1 class="mb-3">Music Request Board</h1>
    <div th:replace="~{layout}"></div>
</div>
<div class="p-5 mb-5 text-center bg-dark text-warning">
    <div class="container">
        <div th:each="request : ${requests}">
            <h2 class="mb-4 text-light">음악 요청 게시글</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" th:text="${request.albumTitle}">노래 제목</h5>
                    <p class="card-text"><strong>가수:</strong> <span th:text="${request.artist}">가수 이름</span></p>
                    <p class="card-text"><strong>앨범 발매 일자:</strong> <span th:text="${request.releaseDate}">발매 일자</span></p>
                    <p class="card-text"><strong>장르:</strong> <span th:text="${request.genre}">장르</span></p>
                    <button class="btn btn-success">추천 (<span th:text="${request.recommendations}">추천 수</span>)</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>