<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Music List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="p-5 mb-0 text-center bg-dark text-danger">
        <h1 class="mb-3">Specific PlayList</h1>
        <div th:replace="layout"></div>
    </div>
    <div class="container">
        <div class="row-6" th:each="playListView : ${playListViews}">
            <div class="card-body border-bottom">
                <h4 class="card-title text-warning" th:text="${playListViews.musicTitle}"></h4>
                <!-- <h5 class="card-text text-white" th:text="${playList.memberId}"></h5> -->
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>